In [1]:
import pandas as pd
from scipy.sparse import csr_matrix
import matplotlib.pyplot as plt
import numpy as np

df =pd.read_csv("ml-100k/u1.base", sep="\t", header=None)
df=df.rename(columns={0: "user_id", 1: "item_id", 2: "rating", 3: "timestamp"})
df.drop(columns="timestamp", inplace=True)

test =pd.read_csv("ml-100k/u1.test", sep="\t", header=None)
test=test.rename(columns={0: "user_id", 1: "item_id", 2: "rating", 3: "timestamp"})
test.drop(columns="timestamp", inplace=True)

In [19]:
table_train = pd.pivot_table(df, values='rating', index='user_id', columns='item_id', fill_value=0)
table_test = pd.pivot_table(test, values='rating', index='user_id', columns='item_id', fill_value=0)

In [5]:
k = 8
num_usuarios =  df['user_id'].nunique()
num_peliculas =  df['item_id'].nunique()

P = np.random.rand(size=(num_usuarios, k))
Q = np.random.rand(size=(k, num_peliculas))

In [20]:
table_train

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,0.0,4.0,1.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df

       user_id  item_id  rating
0            1        1       5
1            1        2       3
2            1        3       4
3            1        4       3
4            1        5       3
...        ...      ...     ...
79995      943     1067       2
79996      943     1074       4
79997      943     1188       3
79998      943     1228       3
79999      943     1330       3

[80000 rows x 3 columns]

In [ ]:
def derivar(valor_real: float, valor_predicho: float):
    d_Pu = -2 * (valor_real - np.dot())
    pass

In [14]:
a=np.array([[2,2],[3,6]])
b=np.array([[1,2],[3,6]])
a*b.T

array([[ 2,  6],
       [ 6, 36]])

In [15]:
P.shape,Q.shape

((943, 8), (8, 1650))

In [17]:
np.dot(P,Q).shape

(943, 1650)