In [2]:
import pandas as pd
import numpy as np

## DATOS

In [17]:
movies = pd.read_csv('data/ml-100k/u.item', sep='|', encoding='latin-1', header=None)
movies.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
ratings = pd.read_csv("data/ml-100k/u.data", sep="\t", names=["user_id", "movie_id", "rating", "timestamp"])
ratings.info()
ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   movie_id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [22]:
from scipy.sparse import csr_matrix

# Obtener dimensiones de la matriz usando count
num_users = ratings["user_id"].nunique()
num_movies = ratings["movie_id"].nunique()

print(f"Number of users: {num_users}")
print(f"Number of movies: {num_movies}")

# Crear la matriz dispersa en formato CSR (Compressed Sparse Row)
sparse_matrix = csr_matrix(
    (ratings["rating"], (ratings["user_id"] - 1, ratings["movie_id"] - 1)), 
    shape=(num_users, num_movies)
)

# Mostrar informaciÃ³n de la matriz dispersa
print("Shape: " + str(sparse_matrix.shape))  # Dimensiones (nÃºmero de usuarios, nÃºmero de pelÃ­culas)
print("Total de casillas: "+ str(sparse_matrix.shape[0] * sparse_matrix.shape[1]))  # NÃºmero total de casillas
print("Not empty values: " + str(sparse_matrix.nnz))    # NÃºmero de elementos no nulos

Number of users: 943
Number of movies: 1682
Shape: (943, 1682)
Total de casillas: 1586126
Not empty values: 100000

In [20]:
user_id = 1
user_ratings = sparse_matrix[user_id - 1, :]  # Restamos 1 porque los Ã­ndices en la matriz comienzan desde 0
# Obtener los Ã­ndices de las pelÃ­culas calificadas por el usuario
rated_movie_indices = user_ratings.indices

# Mostrar los tÃ­tulos de las pelÃ­culas calificadas
rated_movie_titles = movies.iloc[rated_movie_indices, 1]

print(f"User {user_id} has rated the following movies:")
for title, rating in zip(rated_movie_titles, user_ratings.data):
    print(f"{title}: {rating}")

User 1 has rated the following movies:
Toy Story (1995): 5
GoldenEye (1995): 3
Four Rooms (1995): 4
Get Shorty (1995): 3
Copycat (1995): 3
Shanghai Triad (Yao a yao yao dao waipo qiao) (1995): 5
Twelve Monkeys (1995): 4
Babe (1995): 1
Dead Man Walking (1995): 5
Richard III (1995): 3
Seven (Se7en) (1995): 2
Usual Suspects, The (1995): 5
Mighty Aphrodite (1995): 5
Postino, Il (1994): 5
Mr. Holland's Opus (1995): 5
French Twist (Gazon maudit) (1995): 5
From Dusk Till Dawn (1996): 3
White Balloon, The (1995): 4
Antonia's Line (1995): 5
Angels and Insects (1995): 4
Muppet Treasure Island (1996): 1
Braveheart (1995): 4
Taxi Driver (1976): 4
Rumble in the Bronx (1995): 3
Birdcage, The (1996): 4
Brothers McMullen, The (1995): 3
Bad Boys (1995): 2
Apollo 13 (1995): 4
Batman Forever (1995): 1
Belle de jour (1967): 3
Crimson Tide (1995): 3
Crumb (1994): 5
Desperado (1995): 4
Doom Generation, The (1995): 2
Free Willy 2: The Adventure Home (1995): 1
Mad Love (1995): 2
Nadja (1994): 2
Net, The (1995): 3
Strange Days (1995): 4
To Wong Foo, Thanks for Everything! Julie Newmar (1995): 3
Billy Madison (1995): 2
Clerks (1994): 5
Disclosure (1994): 4
Dolores Claiborne (1994): 5
Eat Drink Man Woman (1994): 5
Exotica (1994): 4
Ed Wood (1994): 4
Hoop Dreams (1994): 5
I.Q. (1994): 3
Star Wars (1977): 5
Legends of the Fall (1994): 4
Madness of King George, The (1994): 4
Natural Born Killers (1994): 3
Outbreak (1995): 3
Professional, The (1994): 5
Pulp Fiction (1994): 4
Priest (1994): 5
Quiz Show (1994): 4
Three Colors: Red (1994): 5
Three Colors: Blue (1993): 5
Three Colors: White (1994): 4
Stargate (1994): 3
Santa Clause, The (1994): 2
Shawshank Redemption, The (1994): 5
What's Eating Gilbert Grape (1993): 4
While You Were Sleeping (1995): 4
Ace Ventura: Pet Detective (1994): 3
Crow, The (1994): 4
Forrest Gump (1994): 3
Four Weddings and a Funeral (1994): 3
Lion King, The (1994): 3
Mask, The (1994): 4
Maverick (1994): 3
Faster Pussycat! Kill! Kill! (1965): 1
Brother Minister: The Assassination of Malcolm X (1994): 4
Carlito's Way (1993): 4
Firm, The (1993): 4
Free Willy (1993): 1
Fugitive, The (1993): 4
Hot Shots! Part Deux (1993): 4
Hudsucker Proxy, The (1994): 5
Jurassic Park (1993): 5
Much Ado About Nothing (1993): 3
Robert A. Heinlein's The Puppet Masters (1994): 4
Ref, The (1994): 3
Remains of the Day, The (1993): 5
Searching for Bobby Fischer (1993): 5
Sleepless in Seattle (1993): 4
Blade Runner (1982): 5
So I Married an Axe Murderer (1993): 4
Nightmare Before Christmas, The (1993): 5
True Romance (1993): 3
Welcome to the Dollhouse (1995): 5
Home Alone (1990): 2
Aladdin (1992): 4
Terminator 2: Judgment Day (1991): 5
Dances with Wolves (1990): 3
Silence of the Lambs, The (1991): 4
Snow White and the Seven Dwarfs (1937): 3
Fargo (1996): 5
Heavy Metal (1981): 2
Aristocats, The (1970): 2
All Dogs Go to Heaven 2 (1996): 1
Theodore Rex (1995): 1
Sgt. Bilko (1996): 2
Diabolique (1996): 4
Moll Flanders (1996): 4
Kids in the Hall: Brain Candy (1996): 5
Mystery Science Theater 3000: The Movie (1996): 5
Operation Dumbo Drop (1995): 1
Truth About Cats & Dogs, The (1996): 5
Flipper (1996): 1
Horseman on the Roof, The (Hussard sur le toit, Le) (1995): 5
Wallace & Gromit: The Best of Aardman Animation (1996): 5
Haunted World of Edward D. Wood Jr., The (1995): 5
Cold Comfort Farm (1995): 3
Rock, The (1996): 3
Twister (1996): 3
Maya Lin: A Strong Clear Vision (1994): 5
Striptease (1996): 1
Independence Day (ID4) (1996): 4
Cable Guy, The (1996): 3
Frighteners, The (1996): 4
Lone Star (1996): 5
Phenomenon (1996): 3
Spitfire Grill, The (1996): 2
Godfather, The (1972): 5
Supercop (1992): 4
Bound (1996): 5
Kansas City (1996): 3
Breakfast at Tiffany's (1961): 1
Wizard of Oz, The (1939): 4
Gone with the Wind (1939): 4
Citizen Kane (1941): 4
2001: A Space Odyssey (1968): 4
Mr. Smith Goes to Washington (1939): 3
Big Night (1996): 5
D3: The Mighty Ducks (1996): 1
Love Bug, The (1969): 3
Homeward Bound: The Incredible Journey (1993): 1
20,000 Leagues Under the Sea (1954): 3
Bedknobs and Broomsticks (1971): 2
Sound of Music, The (1965): 1
Die Hard (1988): 4
Lawnmower Man, The (1992): 2
Unhook the Stars (1996): 4
Long Kiss Goodnight, The (1996): 3
Ghost and the Darkness, The (1996): 2
Jude (1996): 2
Swingers (1996): 5
Willy Wonka and the Chocolate Factory (1971): 4
Sleeper (1973): 5
Fish Called Wanda, A (1988): 3
Monty Python's Life of Brian (1979): 5
Dirty Dancing (1987): 2
Reservoir Dogs (1992): 4
Platoon (1986): 4
Weekend at Bernie's (1989): 3
Basic Instinct (1992): 3
Glengarry Glen Ross (1992): 4
Top Gun (1986): 4
On Golden Pond (1981): 4
Return of the Pink Panther, The (1974): 4
Abyss, The (1989): 3
Jean de Florette (1986): 5
Manon of the Spring (Manon des sources) (1986): 5
Private Benjamin (1980): 2
Monty Python and the Holy Grail (1974): 5
Wrong Trousers, The (1993): 5
Cinema Paradiso (1988): 5
Delicatessen (1991): 5
Empire Strikes Back, The (1980): 5
Princess Bride, The (1987): 5
Raiders of the Lost Ark (1981): 5
Brazil (1985): 5
Aliens (1986): 5
Good, The Bad and The Ugly, The (1966): 5
12 Angry Men (1957): 5
Clockwork Orange, A (1971): 3
Apocalypse Now (1979): 3
Return of the Jedi (1983): 5
GoodFellas (1990): 4
Alien (1979): 5
Army of Darkness (1993): 4
Psycho (1960): 4
Blues Brothers, The (1980): 4
Godfather: Part II, The (1974): 4
Full Metal Jacket (1987): 3
Grand Day Out, A (1992): 3
Henry V (1989): 5
Amadeus (1984): 5
Raging Bull (1980): 4
Right Stuff, The (1983): 4
Sting, The (1973): 4
Terminator, The (1984): 5
Dead Poets Society (1989): 5
Graduate, The (1967): 5
Nikita (La Femme Nikita) (1990): 5
Bridge on the River Kwai, The (1957): 4
Shining, The (1980): 3
Evil Dead II (1987): 3
Groundhog Day (1993): 5
Unforgiven (1992): 4
Back to the Future (1985): 5
Patton (1970): 3
Akira (1988): 4
Cyrano de Bergerac (1990): 5
Young Frankenstein (1974): 5
This Is Spinal Tap (1984): 4
Indiana Jones and the Last Crusade (1989): 4
M*A*S*H (1970): 3
Unbearable Lightness of Being, The (1988): 4
Room with a View, A (1986): 2
Pink Floyd - The Wall (1982): 4
Field of Dreams (1989): 3
When Harry Met Sally... (1989): 5
Bram Stoker's Dracula (1992): 3
Cape Fear (1991): 3
Nightmare on Elm Street, A (1984): 1
Mirror Has Two Faces, The (1996): 3
Breaking the Waves (1996): 5
Star Trek: First Contact (1996): 4
Sling Blade (1996): 5
Ridicule (1996): 5
101 Dalmatians (1996): 2
Die Hard 2 (1990): 3
Star Trek VI: The Undiscovered Country (1991): 4
Star Trek: The Wrath of Khan (1982): 5
Star Trek III: The Search for Spock (1984): 4
Star Trek IV: The Voyage Home (1986): 4
Batman Returns (1992): 1
Young Guns (1988): 3
Under Siege (1992): 2
Jaws (1975): 4
Mars Attacks! (1996): 5
Citizen Ruth (1996): 4
Jerry Maguire (1996): 2
Raising Arizona (1987): 4
Sneakers (1992): 4
Beavis and Butt-head Do America (1996): 3
Last of the Mohicans, The (1992): 4
Kolya (1996): 5
Jungle2Jungle (1997): 1
Smilla's Sense of Snow (1997): 2
Devil's Own, The (1997): 2
Chasing Amy (1997): 5
Turbo: A Power Rangers Movie (1997): 1
Grosse Pointe Blank (1997): 4
Austin Powers: International Man of Mystery (1997): 4
Fifth Element, The (1997): 4
Shall We Dance? (1996): 4
Lost World: Jurassic Park, The (1997): 2
Pillow Book, The (1995): 5
Batman & Robin (1997): 1
My Best Friend's Wedding (1997): 2
When the Cats Away (Chacun cherche son chat) (1996): 4
Men in Black (1997): 4
Contact (1997): 5
George of the Jungle (1997): 1
Event Horizon (1997): 1
Air Bud (1997): 1
In the Company of Men (1997): 3
Steel (1997): 1
Mimic (1997): 2
Hunt for Red October, The (1990): 4
Kull the Conqueror (1997): 1
unknown: 4
Chasing Amy (1997): 5
Full Monty, The (1997): 5
Gattaca (1997): 5
Starship Troopers (1997): 2
Good Will Hunting (1997): 3

## Calcular similitudes

In [ ]:
def jmsd():

## Calcular ratings

In [ ]:
def get_neighbours(k, user_id):